* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none
}

#main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#list {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#list li {
    position: absolute;
    z-index: 6;
    width: 100%;
    height: 100%;
}

#list li.zIndex {
    z-index: 7;
}

#list li:nth-child(1) {
    display: block;
    background: url("image/cover.png") no-repeat;
    background-size: 100% 100%;
}

@-webkit-keyframes rotateIn {
   0%{
       -webkit-transform: rotate(0deg);
       transform: rotate(0deg);
   }
    100%{
       -webkit-transform: rotate(360deg);
       transform: rotate(360deg);
   }
}

@keyframes rotateIn {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.musicBtnPlay {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: url("image/play.png");
    background-size: 100% 100%;
    animation: rotateIn 0.5s linear 0s infinite;
    -webkit-animation: rotateIn 0.5s linear 0s infinite;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

.musicBtnPause {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: url("image/play.png");
    background-size: 100% 100%;
}

@-webkit-keyframes move {
    0% {
        bottom: -15px;
        opacity: 1;
    }
    25% {
        bottom: -10px;
        opacity: 0.8;
    }
    50% {
        bottom: -5px;
        opacity: 0.6;
    }
    75% {
        bottom: 0;
        opacity: 0.4;
    }
    100% {
        bottom: 5px;
        opacity: 0.2;
    }
}

#list li em.move {
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 20px;
    height: 20px;
    border: 5px solid white;
    -webkit-transform: rotate(45deg) translate(-20px);
    transform: rotate(45deg) translate(-20px);
    -webkit-transform-origin: center;
    transform-origin: center;
    border-right: none;
    border-bottom: none;
    animation: 1s move infinite;
    -webkit-animation: 1s move infinite;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes flash {
    0% {
        box-shadow: 0 0 10px 10px yellow;
    }
    25% {
        box-shadow: 0 0 20px 20px yellow;
    }
    50% {
        box-shadow: 0 0 30px 30px yellow;
    }
    50% {
        box-shadow: 0 0 20px 20px yellow;
    }
    100% {
        box-shadow: 0 0 30px 10px yellow;
    }
}

@keyframes flash {
    0% {
        box-shadow: 0 0 10px 10px yellow;
    }
    25% {
        box-shadow: 0 0 20px 20px yellow;
    }
    50% {
        box-shadow: 0 0 30px 30px yellow;
    }
    50% {
        box-shadow: 0 0 20px 20px yellow;
    }
    100% {
        box-shadow: 0 0 30px 10px yellow;
    }
}

@keyframes flashSmall {
    0% {
        box-shadow: 0 0 10px 10px yellow;
    }
    25% {
        box-shadow: 0 0 20px 20px yellow;
    }
    50% {
        box-shadow: 0 0 30px 30px yellow;
    }
    75% {
        box-shadow: 0 0 20px 20px yellow;
    }
    100% {
        box-shadow: 0 0 10px 10px yellow;
    }
}

@-webkit-keyframes flashSmall {
    0% {
        box-shadow: 0 0 10px 10px yellow;
    }
    25% {
        box-shadow: 0 0 20px 20px yellow;
    }
    50% {
        box-shadow: 0 0 30px 30px yellow;
    }
    75% {
        box-shadow: 0 0 20px 20px yellow;
    }
    100% {
        box-shadow: 0 0 10px 10px yellow;
    }
}

#list li:nth-child(1) span {
    width: 5px;
    height: 5px;
    background: #fdd101;
    border-radius: 50%;
    position: absolute;
    opacity: 0.6;
}

#list li:nth-child(1) span:nth-child(1) {
    animation: 1s flash infinite;
    top: 100px;
    left: 190px;
}

#list li:nth-child(1) span:nth-child(2) {
    animation: 1s flashSmall infinite;
    top: 29px;
    left: 102px;
}

#list li:nth-child(1) span:nth-child(3) {
    animation: 1s flashSmall infinite;
    top: 76px;
    left: 330px;
}

#list li:nth-child(1) span:nth-child(4) {
    animation: 1s flash infinite;
    top: 220px;
    left: 330px;
}

#list li:nth-child(1) span:nth-child(5) {
    animation: 1s flashSmall infinite;
    top: 177px;
    left: 231px;
}

#list li:nth-child(1) span:nth-child(6) {
    animation: 1s flashSmall infinite;
    top: 195px;
    left: 101px;
}

#list li:nth-child(1) i {
    font-size: 50px;
    font-weight: bold;
    font-family: 楷体;
    color: white;
    font-style: normal;
    position: absolute;
    display: inline;
    opacity: 1;
    animation: 1s show 1 forwards;
    -webkit-animation: 1s show 1 forwards;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes show {
    0% {
        opacity: 0.1;
    }
    10% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    10% {
        opacity: 1;
    }
}

@-webkit-keyframes show {
    0% {
        opacity: 0.1;
    }
    10% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    10% {
        opacity: 1;
    }
}

#list li:nth-child(1) i:nth-child(7) {
    top: 282px;
    left: 55px;
    transform: rotate(31deg);
    -webkit-transform: rotate(31deg);
}

#list li:nth-child(1) i:nth-child(8) {
    top: 358px;
    left: 78px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#list li:nth-child(1) i:nth-child(9) {
    top: 391px;
    left: 178px;
    transform: rotate(-49deg);
    -webkit-transform: rotate(-49deg);
}

#list li:nth-child(1) i:nth-child(10) {
    top: 446px;
    left: 243px;
    transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
}

#list li:nth-child(3) {
    display: none;
    background: url("image/info.png") no-repeat center;
    background-size: 100% 100%;
}

#list li:nth-child(3) p:nth-child(1) {
    font-size: 50px;
    color: black;
    font-weight: bold;
    font-family: "Adobe 楷体 Std R";
    position: absolute;
    top: 56px;
    left: 137px;
}

#list li:nth-child(3) span {
    background-size: 100% 100%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 350px;
    left: 154px;
    -webkit-transition: 1s;
    transition: 1s;
}

#list li:nth-child(3) span:nth-child(2) {
    background: url("image/b1.png") no-repeat center;
}

#list li:nth-child(3) span:nth-child(3) {
    background: url("image/b2.png");
}

#list li:nth-child(3) span:nth-child(4) {
    background: url("image/b3.png");
}

#list li:nth-child(3) span:nth-child(5) {
    background: url("image/b4.png");
}

#list li:nth-child(3) span:nth-child(6) {
    background: url("image/b5.png");
}

#list li:nth-child(3) span:nth-child(7) {
    background: url("image/b6.png");
}
#list li:nth-child(3) span:nth-child(8) {
    background: url("image/b8.png");
}
#list li:nth-child(3) span:nth-child(9) {
    background: url("image/b9.png");
}

#a2 span:nth-child(2) {
    -webkit-transform: translate(106px, 45px) rotate(360deg);
    transform: translate(119px, 88px) rotate(360deg);
}

#a2 span:nth-child(3) {
    -webkit-transform: translate(-106px, 45px) rotate(360deg);
    transform: translate(-119px, 88px) rotate(360deg);
}

#a2 span:nth-child(4) {
    -webkit-transform: translate(117px, -82px) rotate(360deg);
    transform: translate(119px, -12px) rotate(360deg);
}

#a2 span:nth-child(5) {
    -webkit-transform: translate(-117px, -82px) rotate(360deg);
    transform: translate(119px, -112px) rotate(360deg);
}

#a2 span:nth-child(6) {
    -webkit-transform: translate(95px, -212px) rotate(360deg);
    transform: translate(119px, -212px) rotate(360deg);
}

#a2 span:nth-child(7) {
    -webkit-transform: translate(-95px, -212px) rotate(360deg);
    transform: translate(-119px, -212px) rotate(360deg);
}
#a2 span:nth-child(8) {
    -webkit-transform: translate(56px, -130px) rotate(360deg);
    transform: translate(-119px, -112px) rotate(360deg);
}
#a2 span:nth-child(9) {
    -webkit-transform: translate(-55px, -130px) rotate(360deg);
    transform: translate(-119px, -12px) rotate(360deg);
}

#list li:nth-child(2) {
    display: none;
    background: -webkit-linear-gradient(top, rgba(44, 83, 158, 1) 0%, rgba(44, 83, 158, 1) 100%);
    background: linear-gradient(to bottom, rgba(44, 83, 158, 1) 0%, rgba(44, 83, 158, 1) 100%);
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
#list li:nth-child(2) p{
    background: url("image/twoMouse.png") center;
    background-size: 100% 100%;
    width: 100%;
    height: 153px;
    animation: pulse 4s infinite;
}
#list li:nth-child(2) img {
    position: absolute;
    display: block;
    top: 33%;
    left: 64%;
}

.info {
    position: absolute;
    width: 80%;
    top: 193px;
    left: 26px;
}

#list li:nth-child(2) span {
    display: block;
    font-size: 20px;
    text-align: left;
    padding-left: 25px;
    margin-top: 6px;
    width: 100%;
    color: #D8F9FB;
    -webkit-transform: translate(-500px);
    transform: translate(-500px);
    -webkit-transition: 1s;
    transition: 1s;
    overflow: hidden;
}

#list li:nth-child(2) h2 {
    color: white;
    font-weight: bold;
}

#list li:nth-child(4) {
    display: none;
    background: -webkit-linear-gradient(top, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);
    background: linear-gradient(top, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);
}
#list li:nth-child(4) div.program{
    position: absolute;
    width: 80%;
    top: 10%;
    left: 6%;
    padding: 10px;
    height: 60%;
    overflow: auto;
}
div.program h2{
    color: white;
    font-weight: bold
}
#list li:nth-child(4) div.program span{
    display: block;
    font-size: 20px;
    text-align: left;
    padding-left: 25px;
    margin-top: 6px;
    width: 100%;
    color: #D8F9FB;
}
#list li:nth-child(4) span{
    display: block;
}
#list li:nth-child(4) div.car{
    background: url("image/car.png") center;
    background-size: 100% 100%;
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    left: -366px;
    -webkit-transition: 1s;
    transition: 1s;
}
#a3 div.car{
    -webkit-transform: translate(366px);
    transform: translate(366px);
}

#list li:nth-child(5) {
    display: none;
    background: -webkit-linear-gradient(top, rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%);
    background: linear-gradient(top, rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%);
}
#list li:nth-child(5) span{
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 68px;
    color: white;
    font-size: 75px;
    font-weight: bold;
    text-align: center;
    line-height: 10%;
    -webkit-animation: pulse 1s linear 1s infinite;
    animation: pulse 1s linear 1s infinite;
}
#code{
    position: absolute;
    width: 80%;
    height: 60%;
    top: 11%;
    left: 9%;
    background: url("image/code.png") no-repeat;
    background-size: 100% 100%;
}
